.search_bar {
    background-color: black;
    padding: 10px;
    .search_title{
        h1{
            color: red;
            text-align: left;
        }
    }
    
    .search{
        justify-content: flex-end;
        padding: 10px;
        input{
            border-radius: 10px 0 0 10px;
            width: 300px;
            padding: 0 10px;
        }
        button{
            border-radius: 0 10px 10px 0;
            width: 100px;
            background-color: red;
            color: white;
        }
    }
}

h1 {
    text-align: center;
    color: black;
}